# python cache files 
__pycache__/

# nltk meta data and environments
nltk_data/
*.zip
*.tar.gz
*.log
*.csv
*.txt
*.gitignore
globe.6B/

# virtual environments 
myenv/
*.docx

# ipynb checkpoints
.ipynb_checkpoint/